*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}
html,body{
  width: 100%;
  height: 100%;
  background-color: black;
}
h1{
  font-size: 90px;
  font-weight: 600;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translateX(-50%);
  text-decoration: underline;
  /* transform: translateY(-50%); */
  color: white;
  white-space: nowrape;

}
h2{
 font-size: 90px;
  font-weight: 600;
  position: absolute;
  top: 60vh;
  left: 50vw;
  transform: translateX(-50%);
  text-decoration: underline;
  /* transform: translateY(-50%); */
  color: white;
  white-space: nowrape;
}
.nav{
  display: flex;
  gap: 20px;
  padding: 20px;
}
.sale{
  background: red;
  color: white;
  display: flex;
  gap: 60px;
  flex-wrap: nowrap;
}
.sale p{
  flex-shrink: 0;
}

.footer{
  display: flex;
  justify-content:space-between;
  align-items:center;
  background-color: rgb(77, 77, 77);
  padding: 20px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.footer button{
  background-color: lightseagreen;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}