*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100vw;
    height: 100vh;
}
.parent{
    width: 95%;
    height: 95%;
    background-color: blue;
    display: grid;
    grid-template-columns: 1.2fr 1fr 1.2fr ;
    grid-template-rows: 1.2fr 1fr 1.2fr;
    grid-template-areas: "box1 box2 box3"
                          "box1 box4 box5"
                          "box6 box6 box5"
    ;
    gap: 10px;
    /* overflow: hidden; */
    object-fit: cover;
}
.box1{
    background-color: black;
    grid-area: box1;
}
.box2{
    background-color: rgb(41, 33, 33);
    grid-area: box2;
}
.box3{
    background-color: rgb(104, 96, 31);
    grid-area: box3;
}
.box4{
    background-color: rgb(39, 107, 87);
    grid-area: box4;
}
.box5{
    background-color: rgb(49, 66, 139);
    grid-area: box5;
}
.box6{
    grid-area: box6;
    background-color: rgb(26, 29, 46);
}
.box{

    min-width: 0;
    min-height: 0;
}
.box img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    /* display: block; */
}