*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    position: relative;
}
.box{
    width: 50%;
    height: 50%;
    background: linear-gradient(to right, blue , red,green);
    position: absolute;
    top: 20%;
    left: 20%;
    text-align: center;
    background-clip: text;

    
}
.box h1{
    font-size: 65px;
    font-weight: 700;
    color: transparent;
}
.boxesArea{
    width: 100%;
    height: 60%;
    background-color: green;
    display: flex;
    gap: 20px;
    perspective: 500px;
}
.boxes{
    transition: all ease .3s;
    background-color: yellow;
    width: 350px;
    height: 350px;
    border: 2px solid;
    flex-shrink: 0;

}
.boxes:hover{
    transform: rotateY(30deg);
}
::-webkit-scrollbar {
  width: 10px; 
}
::-webkit-scrollbar-track{
    background-color: green;
}
::-webkit-scrollbar-thumb{
    background: red;
    border: 2px solid blue ;
    border-radius: 50px;
}
